.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  background-image: url(https://i.pinimg.com/originals/30/7e/81/307e8154e87ffc5d2f823cd50b174dee.gif);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-bottom-tabs {
  display: inline-block;
}

.home-bottom-search-tabs {
  position: center;
  padding-top: 15px;
  padding-left: 340px;
}

.home-card-group {
  display: inline-block;
  margin: center;
  margin-top: 25px;
  position: center;
  margin-left: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-search-bar-container {
  background-color: white;
}

.horizontal-card-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  padding-top: 12px;
  padding-bottom: 28px;
}

.foodies-card {
  padding: 0;
  height: 330px;
  width: 320px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 4px 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foodies-card-2 {
  padding: 0;
  height: 150px;
  width: 220px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: center;
  align-items: center;
  overflow: hidden;
  margin: 4px 8px;
  margin-top: 20px;

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.flex-container {
  display: flex;
  background: #f5f5f5;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.flex-container-2 {
  display: flex;
  background: #f5f5f5;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.flex-container-container {
  background: #f5f5f5;
  padding-top: 1px;
  padding-bottom: 20px;
}

.foodies-card img {
  object-fit: contain;
  width: 100%;
}

.foodies-card .content {
  padding: 12px;
}

.empty-div-2 {
  width: 100px;
  height: 100px;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: center;
  align-items: center;
}

.input-list-box {
  /* display: flex;
  justify-content: center; */
  height: 780px;
  width: 760px;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: flex-start;
  background-color: lightgrey;
}
